<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../icomoon/demo-files/demo.css">
    <link rel="stylesheet" href="../icomoon/style.css">
  </head>
  <body>
    <div class="musicBody">
      <div class="bodyHead">
        <div class="setting">
          <span class="icon-cog"></span>
        </div>
        <div class="headTitle">
          音乐播放器
        </div>
        <div class="homepage" >
          <span class="icon-user"></span>
        </div>
      </div>
      <div class="vol-control-div">
        <div class="vol-min"><span class="icon-volume-mute2"></span></div>
        <input id="vol-control" type="range" min="0" max="100" value="20" onchange="setVol()">
        <div class="vol-max"><span class="icon-volume-high"></span></div>
      </div>

      <audio id="audio-player" data-method="order" autoplay>
        {{audio}}
      </audio>
      <div class="music-lrc">
        {{lrc}}
      </div>
      <div class="music-control">
        <progress value="0" max="0" id="music-pro"></progress>
        <div class="music-method" data-index="1">
          <span id="method-1" class="show play-method icon-loop"></span>
          <span id="method-2" class="play-method icon-shuffle"></span>
          <span id="method-3" class="play-method icon-loop2"></span>
        </div>
        <div class="music-start"><span class="icon-play3"></span></div>
        <div class="music-pause"><span class="icon-pause2"></span></div>
        <div class="music-next"><span class="icon-next2"></span></div>
        <div class="music-list"><a href="/"><span class="icon-list2"></span></a></div>
      </div>

    </div>

    <script type="text/javascript" src="../js/player.js">
    </script>
  </body>
</html>
